*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    width: 100%;
    min-height:100vh;
    border: 1px solid #de8b8b;
}
.header{
    width: 100%;
    height: 60px;
    border: 1px solid #000;
    display: flex;
   
}
.logo{
    display: flex;
}
.logo h3{
    font-size: 20px;
    margin: 18px 30px;
    font-weight: 100;
}
.menu{
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
    /* border: 1px solid #000; */
}
.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    font-size:18px;
    text-transform: capitalize;
    color: #000;
}
.btn{
    display:flex;
    justify-content: end;
    align-items: center;
    width: 20%;
    /* border: 1px solid #000; */
}
.btn ul{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.btn ul li{
    list-style: none;
      border: 1px solid #000;
      padding:5px 10px ;

}
.btn ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}