*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
}
/* hero section */
.hero{
    /* margin-top: 5rem; */
    padding: 2rem 0;
    border: #28a745 solid 1px;
    background: #f8fdf5;

}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;

}
.hero-content{
    max-width: 500px;

}
.hero-content h1{
    font-size: 3rem;
    color: #333;
    margin-bottom: 1rem;
}
.hero-content p{
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 2rem;
}
.hero-content a{
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 30px;
}
.hero-image img{
    width: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    animation-name: bounce;
    animation-duration:5s  ;
    animation-iteration-count: infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
.section{
    width: 100%;
    /* min-height:100vh; */
    border: 1px solid #de8b8b;
}
.header{
    width: 100%;
    height: 60px;
    border: 1px solid #000;
    display: flex;
   
}
.logo{
    display: flex;
}
.logo h3{
    font-size: 20px;
    margin: 18px 30px;
    font-weight: 100;
}
.menu{
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
    /* border: 1px solid #000; */
}
.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    font-size:18px;
    text-transform: capitalize;
    color: #000;
}
.btn{
    display:flex;
    justify-content: end;
    align-items: center;
    width: 20%;
    /* border: 1px solid #000; */
}
.btn ul{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.btn ul li{
    list-style: none;
      border: 1px solid #000;
      padding:5px 10px ;

}
.btn ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}